.alert-parent {
    position: relative;
    left: 0;
    right: 0;
    width: fit-content;
    max-width: 60%;
    margin: 0 auto -10px;
    height: 0;
}

.bar {
    padding: 10px;
    margin: 10px;
    color: #333;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.bar a {
    color: inherit;
    font-weight: bold;
}

.bar a:hover {
    color: inherit !important;
    border-bottom-color: inherit;
    font-weight: bold;
}

/* (B) THE VARIATIONS */
.info {
    color: #204a8e;
    background: #c9ddff;
    border: 2px solid #4c699b;
}
.success {
    color: #2b7515;
    background: #ecffd6;
    border: 2px solid #617c42;
}
.warn {
    color: #756e15;
    background: #fffbd1;
    border: 2px solid #87803e;
}
.error {
    color: #ba3939;
    background: #ffe0e0;
    border: 2px solid #a33a3a;
}