<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>C&C MRP Login </title>
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/bar.css}"/>
</head>
<body>
<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->


<div class="grid align__item">

    <div class="log_in">

        <svg xmlns="http://www.w3.org/2000/svg" class="site__logo" width="56" height="84"
             viewBox="77.7 214.9 274.7 412">
            <defs>
                <linearGradient id="a" x1="0%" y1="0%" y2="0%">
                    <stop offset="0%" stop-color="#8ceabb"/>
                    <stop offset="100%" stop-color="#378f7b"/>
                </linearGradient>
            </defs>
            <path fill="url(#a)"
                  d="M215 214.9c-83.6 123.5-137.3 200.8-137.3 275.9 0 75.2 61.4 136.1 137.3 136.1s137.3-60.9 137.3-136.1c0-75.1-53.7-152.4-137.3-275.9z"/>
        </svg>

        <h2>C&C MRP</h2>

        <form th:action="@{/login}" method="post" class="form">

            <div class="form__field">
                <label>
                    <input type="text" name="username" placeholder="username" required>
                </label>
            </div>

            <div class="form__field">
                <label>
                    <input type="password" name="password" placeholder="••••••••" required>
                </label>
            </div>

            <div class="form__field">
                <input type="submit" value="Log In">
            </div>

        </form>
    </div>

</div>

<div class="flex-box">
    <div th:if="${param.error}" class="bar error">
        Incorrect Credentials
    </div>
    <div th:if="${param.logout}" class="bar info">
        You have been logged out
    </div>
</div>

</body>
</html>